<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">.ng-animate.item:not(.left):not(.right){-webkit-transition:0s ease-in-out left;transition:0s ease-in-out left}</style><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
    <meta name="viewport" content="width=device-width">
    <title>Consumer Site</title>
    
    <link href="home_files/bootstrap.css" rel="stylesheet">
    <link href="home_files/bootstrap-slider.css" rel="stylesheet">
    
    <link href="home_files/fonts.css" rel="stylesheet">
    <link href="home_files/font-awesome.css" rel="stylesheet">
    <link href="home_files/angular-block-ui.css" rel="stylesheet">
    <link href="home_files/style.css" rel="stylesheet">

    
    <link href="home_files/CommonStyle.css" rel="stylesheet">
    <link href="home_files/MainNavbar.css" rel="stylesheet">
    <link href="home_files/FeatureNavbar.css" rel="stylesheet">
    <link href="home_files/Banner.css" rel="stylesheet">
    <link href="home_files/PricingFeatureStyle.css" rel="stylesheet">
    <link href="home_files/LoanAppFeatureStyle.css" rel="stylesheet">
    <link href="home_files/MyNextStepBanner.css" rel="stylesheet">
    <link href="home_files/MyNextStepFeatureStyle.css" rel="stylesheet">
    <link href="home_files/AuthenticationFeatureStyle.css" rel="stylesheet">
    <link href="home_files/Modals.css" rel="stylesheet">
    <link href="home_files/style_002.css" rel="stylesheet">
    
    

    <link id="restApiRoot" href="https://loancenter.newleaflending.com/api/" rel="tag">
    <link id="angularTemplateRoot" href="https://loancenter.newleaflending.com/angular/" rel="tag">
    </head><body aria-busy="false" class="ng-scope block-ui block-ui-anim-fade" block-ui="main" ng-app="consumersite"><input id="enableAppraisal" value="true" type="hidden">
    <input id="clientHomePage" value="http://skylinehomeloans.com/" type="hidden">



    <textarea id="apiServiceAccountId" style="display: none;">93181</textarea>
    <textarea id="enableAppraisal" style="display: none;">true"</textarea>
    <textarea id="leadSourceId" style="display: none;"></textarea>

    <!-- uiView: abstract --><div class="ng-scope" ui-view="abstract"><!-- uiView: abstractConsumerSite --></div>

    


    
    <script src="home_files/underscore-min.js"></script>
    <script src="home_files/jquery-2.js"></script>
    <script src="home_files/bootstrap.js"></script>

    <script src="home_files/moment.js"></script>
    <script src="home_files/d3.js"></script>
    <script src="home_files/linq.js"></script>
    


    
    <script src="home_files/angular.js"></script>
    <script src="home_files/angular-sanitize.js"></script>
    <script src="home_files/angular-resource.js"></script>
    <script src="home_files/angular-animate.js"></script>
    <script src="home_files/ui-bootstrap-tpls-0.js"></script>
    <script src="home_files/ui-bootstrap-tpls.js"></script>
    <script src="home_files/ui-mask.js"></script>
    <script src="home_files/angular-block-ui.js"></script>
    <script src="home_files/angularGrid.js"></script>
    <script src="home_files/angular-ui-router.js"></script>
    <script src="home_files/ui-utils.js"></script>
    
    

    
    <script src="home_files/loancenter_005.js"></script>
    <script src="home_files/global.js"></script>
    <script src="home_files/httpUtil.js"></script>
    <script src="home_files/enums_002.js"></script>
    <script src="home_files/viewModels.js"></script>
    <script src="home_files/viewModelBaseClasses.js"></script>
    <script src="home_files/viewModelClasses.js"></script>

    
    <script src="home_files/tinymce.js"></script>
    <script src="home_files/tinyMCE.js"></script>

    <script src="home_files/AppraisalService.js"></script>
    <script src="home_files/MegaLoanService.js"></script>
    <script src="home_files/DocVaultService.js"></script>
    <script src="home_files/WorkflowService.js"></script>
    <script src="home_files/LoanMethodsService.js"></script>
    <div class="ng-scope" ui-view="abstractConsumerSite"><!-- uiView: mainNavbar --><div class="ng-scope" ui-view="mainNavbar"><!-- @todo-cc-cms: headers -->
<!--<nav class="navbar navbar-default main-navbar" ng-class="{'front': mainNavbarCntrl.isMobileMenuOpen}" style="display: none">-->
<nav class="navbar navbar-default main-navbar ng-scope" ng-class="{'front': mainNavbarCntrl.isMobileMenuOpen}">
    <div class="app-container">
        <div class="navbar-header">
            <button type="button" class="main-navbar-toggle collapsed in" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-controls="navbar" ng-click="toggleMobileMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="main-navbar-close" ng-class="{'in': mainNavbarCntrl.isMobileMenuOpen}" ng-click="mainNavbarCntrl.toggleMobileMenu()">X</div>
            <div class="mobile-menu-divider"></div>
            <div class="back-button"><i class="icon-angle-left fa-3x"></i></div>
            <a class="navbar-brand cv-app-left-col-lg" href="#">
               
                <div class="hidden-xs hidden-sm hidden-md">
                    <span class="logo-img cv-config-icon-logo"><img width=100 height=50 src=logo.svg>
                        
                    </span>
                </div>
            </a>
        </div>
        <div id="navbar-main" class="main-navbar-collapse collapse" ng-class="{'collapse': !mainNavbarCntrl.isMobileMenuOpen, 'in': mainNavbarCntrl.isMobileMenuOpen}">
            <!-- ngIf: !mainNavbarCntrl.showLoggedInMenu -->
            <!-- ngIf: mainNavbarCntrl.showLoggedInMenu --><div class="ng-scope" ng-if="mainNavbarCntrl.showLoggedInMenu">
                <ul class="nav main-navbar-nav">
                    <li ng-class="{'active': mainNavbarCntrl.isAtDashboardHome()}">
                        <a href="#/dashboard?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5" ng-href="#/dashboard?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5">Home</a>
                    </li>
                    <li ng-class="{'active': mainNavbarCntrl.isAtMyLoans()}">
                        <a href="#/myNextStepLoans?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5" ng-href="#/myNextStepLoans?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5">My Loans</a>
                    </li>
                    <!--<li ng-class="{'active': mainNavbarCntrl.isAtMyAccount()}">
                        <a href="#">My Account</a>
                    </li>-->
                    <!--<li ng-class="{'active': mainNavbarCntrl.isAtAlerts()}">
                        <a href="#">Alerts</a>
                    </li>-->
                    <li>
                        <a href="" ng-click="mainNavbarCntrl.signout_Click()">Sign out</a>
                    </li>
                </ul>
            </div><!-- end ngIf: mainNavbarCntrl.showLoggedInMenu -->
            <div class="main-navbar-collapse-backdrop"></div>
        </div>
        <div class="need-help-region">
            <div>Need Help? Call</div>
            <div class="need-help-phone ng-binding">(800)555-5555</div>
        </div>
    </div>
</nav>
</div><!-- uiView: featureNavbar --><div class="ng-scope" ui-view="featureNavbar"><!-- @todo-cc-cms: headers (style="margin-top: -8px;") -->
<!--<nav class="navbar navbar-default feature-navbar" ng-if="featureNavbarCntrl.refreshFeatureNavbar()" style="margin-top: 0px;">-->
<!-- ngIf: featureNavbarCntrl.refreshFeatureNavbar() -->
</div><!-- uiView: banner --><div class="ng-scope" ui-view="banner"></div><!-- uiView: mainView --><div class="ng-scope" ui-view="mainView">


<!-- LEFT TEMPORARILY UNTIL STYLING IS MIGRATED-->

    



    <!-- @todo-cc-cms: Probably need to do something here -->
    <ng-form name="myNextStepForm" class="form-horizontal ng-pristine ng-scope ng-valid-imp-credit-card-type-check ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-valid-parse ng-valid-mask ng-valid" novalidate="">
        <div class="center-block-my-next-step">
            <!-- uiView:  --><div ui-view="" class="view-body ng-scope"><style class="ng-scope" type="text/css">
    @media only screen and (max-width:1200px) {
        .dashboard-home .text-percentage {
            font-size: 28px !important;
        }
    }

    .dashboard-home .text-percentage {
        font-size: 34px;
        font-weight: bold;
    }
</style>

<!-- ngIf: myNextStepMainCntrl.hasNextSteps --><div class="dashboard-home-banner ng-scope" ng-if="myNextStepMainCntrl.hasNextSteps">
    <div class="app-container">
        <div class="banner-title-region">
            <div class="banner-title-inner-region">
                               <button class="btn btn-primary banner-button" ng-click="myNextStepMainCntrl.navigateTo()">
                  
                    <div class="banner-button-text ng-binding">Order Appraisal</div>
                </button>
            </div>
            <!-- ngIf: !myNextStepMainCntrl.hasNextSteps -->
        </div>
    </div>
</div><!-- end ngIf: myNextStepMainCntrl.hasNextSteps -->
<!-- ngIf: !myNextStepMainCntrl.hasNextSteps -->
<div class="dashboard-home ng-scope">
    <div>
        <div class="app-container">
            <div class="dashboard-home-content">
                <div class="detail-region">
                    <div class="detail-group address-group">
                        <div class="detail-value">
                            <div class="ng-binding">1776 LARK LANE</div>
                            <div class="ng-binding">SUNNYVALE, CA 94087</div>
                        </div>
                    </div>
                    <div class="detail-group">
                        <div class="detail-value ng-binding">201443331</div>
                        <label class="detail-label">Loan #</label>
                    </div>
                    <div class="detail-group">
                        <div class="detail-value ng-binding">3.125%</div>
                        <label class="detail-label">Int Rate</label>
                    </div>
                    <div class="detail-group">
                        <div class="detail-value ng-binding">3.35%</div>
                        <label class="detail-label">APR</label>
                    </div>
                    <div class="detail-group">
                        <div class="detail-value ng-binding">$160,000.00</div>
                        <label class="detail-label">Loan Amount</label>
                    </div>
                    <div class="detail-group">
                        <div class="detail-value ng-binding">$798.86</div>
                        <label class="detail-label">Payment</label>
                    </div>
                    <span class="detail-stretch"></span>
                </div>
                <div class="title-region">
                    <div class="section-title center">My Loan Status</div>
                    <div class="section-subtitle center">
                        <!-- ngIf: myNextStepMainCntrl.getConsumerLoanCenterMileStone().isApplicationActive() --><div class="ng-scope" ng-if="myNextStepMainCntrl.getConsumerLoanCenterMileStone().isApplicationActive()">Your Loan Application has been started.</div><!-- end ngIf: myNextStepMainCntrl.getConsumerLoanCenterMileStone().isApplicationActive() -->
                        <!-- ngIf: myNextStepMainCntrl.getConsumerLoanCenterMileStone().isDisclosuresActive() -->
                        <!-- ngIf: myNextStepMainCntrl.getConsumerLoanCenterMileStone().isProcessingActive() -->
                        <!-- ngIf: myNextStepMainCntrl.getConsumerLoanCenterMileStone().isUnderwritingActive() -->
                        <!-- ngIf: myNextStepMainCntrl.getConsumerLoanCenterMileStone().isApprovedActive() -->
                        <!-- ngIf: myNextStepMainCntrl.getConsumerLoanCenterMileStone().isSignDocsActive() -->
                        <!-- ngIf: myNextStepMainCntrl.getConsumerLoanCenterMileStone().isFundedComplete() -->
                        <!-- ngIf: myNextStepMainCntrl.getConsumerLoanCenterMileStone().isAdverseActive() -->
                    </div>
                </div>
                <!-- ngIf: !myNextStepMainCntrl.getConsumerLoanCenterMileStone().isAdverseActive() --><div class="status-region ng-scope" ng-if="!myNextStepMainCntrl.getConsumerLoanCenterMileStone().isAdverseActive()">
                    <div class="top-border-md" style="max-width: 500px;"></div>
                    <div class="status-text active" ng-class="{active : myNextStepMainCntrl.getConsumerLoanCenterMileStone().isApplicationActive(), complete : myNextStepMainCntrl.getConsumerLoanCenterMileStone().isApplicationComplete()}">Application</div>
                    <i class="breadcrumb-arrow cv-icon-breadcrumb-arrow"></i>

                    <div class="status-text" ng-class="{active : myNextStepMainCntrl.getConsumerLoanCenterMileStone().isDisclosuresActive(), complete : myNextStepMainCntrl.getConsumerLoanCenterMileStone().isDisclosuresComplete()}">Disclosures</div>
                    <i class="breadcrumb-arrow cv-icon-breadcrumb-arrow"></i>

                    <div class="status-text" ng-class="{active : myNextStepMainCntrl.getConsumerLoanCenterMileStone().isProcessingActive(), complete : myNextStepMainCntrl.getConsumerLoanCenterMileStone().isProcessingComplete()}">In Processing</div>
                    <i class="breadcrumb-arrow cv-icon-breadcrumb-arrow"></i>

                    <!--<div class="status-text" ng-class="{active : myNextStepMainCntrl.isUnderwritingActive, complete : myNextStepMainCntrl.isUnderwritingComplete}">In Underwriting</div>
                    <i class="home-page-arrow cv-icon-breadcrumb-arrow"></i>-->

                    <div class="status-text" ng-class="{active : myNextStepMainCntrl.getConsumerLoanCenterMileStone().isApprovedActive(), complete : myNextStepMainCntrl.getConsumerLoanCenterMileStone().isApprovedComplete()}">Approved</div>
                    <i class="breadcrumb-arrow cv-icon-breadcrumb-arrow"></i>

                    <div class="status-text" ng-class="{active : myNextStepMainCntrl.getConsumerLoanCenterMileStone().isSignDocsActive(), complete : myNextStepMainCntrl.getConsumerLoanCenterMileStone().isSignDocsComplete()}">Sign Docs</div>
                    <i class="breadcrumb-arrow cv-icon-breadcrumb-arrow"></i>

                   
                </div><!-- end ngIf: !myNextStepMainCntrl.getConsumerLoanCenterMileStone().isAdverseActive() -->
                <!-- ngIf: myNextStepMainCntrl.getConsumerLoanCenterMileStone().isAdverseActive() -->
                <div class="bottom-region">
                    <div class="progress-region">
                        <!--<img class="" src="../Content/ConsumerSite/images/home-page-indicator.png" />-->
                        <div class="hidden-md hidden-sm hidden-xs">
                            <div class="complete-text">Complete</div>
                            <progress-spinner style="height: 200px; width: 200px;" class="ng-isolate-scope" width="200" height="200" percent="myNextStepMainCntrl.getConsumerLoanCenterMileStone().getDisplayMilestoneProgress()"><div class="vis spinner">
<svg height="200" width="200"><g transform="translate(100,100)"><text fill="#515151" font-size="52.25000000000001px" y="5px" text-anchor="middle" class="text-percentage">17%</text><path d="M0,95A95,95 0 1,1 0,-95A95,95 0 1,1 0,95M0,76A76,76 0 1,0 0,-76A76,76 0 1,0 0,76Z" style="fill: rgb(221, 221, 221);"></path><path d="M5.8170722959499274e-15,-95A95,95 0 0,1 82.27241335952166,-47.5L65.81793068761733,-38A76,76 0 0,0 4.653657836759942e-15,-76Z" style="fill: rgb(31, 178, 90);"></path></g></svg></div></progress-spinner>
                        </div>
                        <div class="hidden-lg">
                            <div class="complete-text" style="font-size: 13px; left: 50px; top: 90px;">Complete</div>
                            <progress-spinner style="height: 160px; width: 160px;" class="ng-isolate-scope" width="160" height="160" percent="myNextStepMainCntrl.getConsumerLoanCenterMileStone().getDisplayMilestoneProgress()"><div class="vis spinner">
<svg height="160" width="160"><g transform="translate(80,80)"><text fill="#515151" font-size="41.25px" y="5px" text-anchor="middle" class="text-percentage">17%</text><path d="M0,75A75,75 0 1,1 0,-75A75,75 0 1,1 0,75M0,60A60,60 0 1,0 0,-60A60,60 0 1,0 0,60Z" style="fill: rgb(221, 221, 221);"></path><path d="M4.592425496802574e-15,-75A75,75 0 0,1 64.9519052838329,-37.5L51.96152422706631,-30A60,60 0 0,0 3.67394039744206e-15,-60Z" style="fill: rgb(31, 178, 90);"></path></g></svg></div></progress-spinner>
                        </div>
                    </div>
                    <div class="my-action-items-region">
                        <div class="section-title">My Action Items</div>
                        <div class="action-items-container">
                            <div class="action-item active" ng-class="{'active' : myNextStepMainCntrl.canReviewLoan()}">
                                <i class="action-item-icon cv-icon-docs"></i>
                                <a href="#/loanReview?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5" ng-href="#/loanReview?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5" ng-show="true">Review My Loan Application</a>
                                <span class="imp-disclaimer ng-hide" ng-hide="true">Review My Loan Application</span>
                            </div>
                            <div class="action-item" ng-class="{'active' : myNextStepMainCntrl.canNavigateDisclosures()}">
                                <i class="action-item-icon cv-icon-sign-docs"></i>
                                <a class="ng-hide" href="#/instructions?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5&amp;ns=0" ng-href="#/instructions?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5&amp;ns=0" ng-show="false">Sign My Disclosures</a>
                                <span class="imp-disclaimer" ng-hide="false">Sign My Disclosures</span>
                            </div>
                            <!-- ngIf: myNextStepMainCntrl.isAppraisalEnabled() --><div class="ng-scope" ng-if="myNextStepMainCntrl.isAppraisalEnabled()">
                                <!-- ngIf: myNextStepMainCntrl.canViewAppraisal() -->
                                <!-- ngIf: !myNextStepMainCntrl.canViewAppraisal() --><div class="ng-scope" ng-if="!myNextStepMainCntrl.canViewAppraisal()">
                                    <div class="action-item active" ng-class="{'active' : myNextStepMainCntrl.canNavigateAppraisalOrder()}">
                                        <i class="action-item-icon cv-icon-cash-house"></i>
                                        <a href="#/appraisal?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5&amp;ns=0" ng-href="#/appraisal?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5&amp;ns=0" ng-show="true">Order My Appraisal</a>
                                        <span class="imp-disclaimer ng-hide" ng-hide="true">Order My Appraisal</span>
                                    </div>
                                </div><!-- end ngIf: !myNextStepMainCntrl.canViewAppraisal() -->
                            </div><!-- end ngIf: myNextStepMainCntrl.isAppraisalEnabled() -->
                            <div class="action-item active" ng-class="{'active' : myNextStepMainCntrl.canReviewLoan()}">
                                <i class="action-item-icon cv-icon-upload"></i>
                                <a href="#/documentUpload?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5&amp;ns=0" ng-href="#/documentUpload?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5&amp;ns=0" ng-show="true">Upload My Documents</a>
                                <span class="imp-disclaimer ng-hide" ng-hide="true">Upload My Documents</span>
                            </div>
                            <div class="action-item active" ng-class="{'active' : myNextStepMainCntrl.canNavigateDocReview()}">
                                <i class="action-item-icon cv-icon-doc"></i>
                                <!--<a ng-href="{{myNextStepMainCntrl.getDocReviewLink()}}" ng-show="{{myNextStepMainCntrl.canNavigateDocReview()}}">Documents for My Review</a>-->
                                <a href="#/myDocuments?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5&amp;ns=0" ng-href="#/myDocuments?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5&amp;ns=0" ng-show="true">My Documents</a>
                                <span class="imp-disclaimer ng-hide" ng-hide="true">My Documents</span>
                            </div>
                            <div class="action-item active" ng-class="{'active' : myNextStepMainCntrl.canNavigateEConsentSettings()}">
                                <i class="action-item-icon cv-icon-doc"></i>
                                <a href="#/eConsentSettings?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5&amp;ns=0" ng-href="#/eConsentSettings?loanId=13ec9e8e-4c0e-481b-883c-9176b46e1bd5&amp;ns=0" ng-show="true">eConsent Settings</a>
                                <span class="imp-disclaimer ng-hide" ng-hide="true">eConsent Settings</span>
                            </div>
                        </div>
                    </div>
                    <div class="my-contacts-region">
                        <div class="section-title">My Contacts</div>
                        <div class="contact-items-container">
                            <!-- ngRepeat: item in myNextStepMainCntrl.getContacts() --><div class="contact-item ng-binding ng-scope" ng-repeat="item in myNextStepMainCntrl.getContacts()">
                                <expand-collapse class="contact-item-icon ng-isolate-scope" is-shown="item.isViewable" is-force-open="false"><div ng-click="expandCollapseCntrl.toggleIsShown()">
    <i class="fa fa-caret-down" ng-class="expandCollapseCntrl.isShown ? 'fa-caret-down' : 'fa-caret-right'"></i>
</div>
</expand-collapse>
                                My Loan Officer
                                <div class="contact-details-region" ng-show="item.isViewable">
                                    <div class="contact-name ng-binding">Brandon Robert Clark</div>
                                    <div class="contact-job ng-binding">Loan Officer | (949)276-8525</div>
                                    <div class="contact-job ng-binding">BClark@eclicklending.com</div>
                                </div>
                            </div><!-- end ngRepeat: item in myNextStepMainCntrl.getContacts() --><div class="contact-item ng-binding ng-scope" ng-repeat="item in myNextStepMainCntrl.getContacts()">
                                <expand-collapse class="contact-item-icon ng-isolate-scope" is-shown="item.isViewable" is-force-open="false"><div ng-click="expandCollapseCntrl.toggleIsShown()">
    <i class="fa fa-caret-down" ng-class="expandCollapseCntrl.isShown ? 'fa-caret-down' : 'fa-caret-right'"></i>
</div>
</expand-collapse>
                                My Lender
                                <div class="contact-details-region" ng-show="item.isViewable">
                                    <div class="contact-name ng-binding">E-Click Lending</div>
                                    <div class="contact-job ng-binding">Main Office | (877) 446-1511</div>
                                    <div class="contact-job ng-binding">loan_support@eclicklending.com</div>
                                </div>
                            </div><!-- end ngRepeat: item in myNextStepMainCntrl.getContacts() -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
        </div>
    </ng-form>
    <span class="ng-scope" data-iframe-height="cvimp_iframe_bottom" style="position: relative">&nbsp;</span>



</div></div><script src="home_files/UserService.js"></script>

    <script src="home_files/http.js"></script>
    <script src="home_files/common_004.js"></script>
    <script src="home_files/identityGenerator.js"></script>
    
    <script src="home_files/util.js"></script>
    <script src="home_files/loancenter_004.js"></script>



    
    <script src="home_files/common.js"></script>
    <script src="home_files/common_003.js"></script>
    <script src="home_files/modalpopover_002.js"></script>
    <script src="home_files/modalpopover.js"></script>
    <script src="home_files/modalpopover_004.js"></script>
    <script src="home_files/modalpopover_003.js"></script>
    <script src="home_files/simplemodalwindow.js"></script>
    <script src="home_files/inputdirectives.js"></script>
    <script src="home_files/tabdirectives.js"></script>
    <script src="home_files/buttondirectives.js"></script>
    <script src="home_files/date.js"></script>
     <script src="home_files/calculator.js"></script>
    <script src="home_files/common_006.js"></script>
    <script src="home_files/loancenter.js"></script>
    <script src="home_files/docvault_002.js"></script>
    <script src="home_files/docvault.js"></script>
    <script src="home_files/docvault_003.js"></script>
    <script src="home_files/document.js"></script>

    
    <script src="home_files/consumersite_003.js"></script>
    <script src="home_files/ui_004.js"></script>
    <script src="home_files/consumersite.js"></script>

    <script src="home_files/loancenter_002.js"></script>
    <script src="home_files/consumersite_004.js"></script>
    <script src="home_files/ui.js"></script>

    
    <script src="home_files/loancenter_003.js"></script>
    <script src="home_files/credit_002.js"></script>
    <script src="home_files/creditext.js"></script>

    
    <script src="home_files/ui_005.js"></script>

    
    <script src="home_files/enums.js"></script>
    <script src="home_files/loan_003.js"></script>
    <script src="home_files/transactionInfo.js"></script>
    <script src="home_files/borrower_002.js"></script>
    <script src="home_files/property_002.js"></script>
    <script src="home_files/incomeInfo.js"></script>
    <script src="home_files/liability.js"></script>
    <script src="home_files/loanApplication.js"></script>
    <script src="home_files/employmentInfo.js"></script>
    <script src="home_files/housingExpenses.js"></script>
    <script src="home_files/asset.js"></script>
    <script src="home_files/extendedViewModels.js"></script>
    <script src="home_files/referenceWrapper.js"></script>
    <script src="home_files/lookupItem.js"></script>

    <script src="home_files/common_002.js"></script>
    <script src="home_files/common_007.js"></script>
    <script src="home_files/queue_003.js"></script>
    <script src="home_files/queue_002.js"></script>
    <script src="home_files/queue.js"></script>
    <script src="home_files/applicationData.js"></script>
    <script src="home_files/userAccountId.js"></script>
    <script src="home_files/applicationData_002.js"></script>
    <script src="home_files/applicationdata.js"></script>

   

    
    <script src="home_files/viewModelBase.js"></script>
    <script src="home_files/address_002.js"></script>
    <script src="home_files/asset_002.js"></script>
    <script src="home_files/borrower.js"></script>
    <script src="home_files/comsumersite.js"></script>
    <script src="home_files/declarations_002.js"></script>
    <script src="home_files/employment_002.js"></script>
    <script src="home_files/loan_002.js"></script>
    <script src="home_files/loanApplication_002.js"></script>
    <script src="home_files/otherIncome.js"></script>
    <script src="home_files/property_003.js"></script>
    <script src="home_files/productItem.js"></script>
    <script src="home_files/loanfinancialInfo.js"></script>
    <script src="home_files/auditLogRequest.js"></script>

    
    <script src="home_files/consumersite_002.js"></script>

    <script src="home_files/loanAppHeader.js"></script>

    <script src="home_files/ui_003.js"></script>

    <script src="home_files/factory.js"></script>

    <script src="home_files/pricing.js"></script>
    <script src="home_files/productDetails.js"></script>
    <script src="home_files/advancedSearch.js"></script>  
    <script src="home_files/allOptions.js"></script>    
    <script src="home_files/pricing_002.js"></script>
    <script src="home_files/mock.js"></script>
    <script src="home_files/loan.js"></script>
    <script src="home_files/consumer.js"></script>    
    <script src="home_files/esigning.js"></script>
    <script src="home_files/document_002.js"></script>
    <script src="home_files/ui_002.js"></script>
    <script src="home_files/util_002.js"></script>

    <script src="home_files/authentication_002.js"></script>
    <script src="home_files/authentication.js"></script>
    <script src="home_files/authentication_003.js"></script>
    <script src="home_files/accountManagement.js"></script>
    <script src="home_files/forgotPassword.js"></script>
    <script src="home_files/loanAppPage.js"></script>
    <script src="home_files/additionalBorrower.js"></script>
    <script src="home_files/account.js"></script>
    <script src="home_files/activationcode.js"></script>
    <script src="home_files/address.js"></script>
    <script src="home_files/alertPreferences.js"></script>
    <script src="home_files/assets.js"></script>
    <script src="home_files/credit.js"></script>
    <script src="home_files/creditresults.js"></script>
    <script src="home_files/declarations.js"></script>
    <script src="home_files/employment.js"></script>
    <script src="home_files/otherincome.js"></script>
    <script src="home_files/personal.js"></script>
    <script src="home_files/property.js"></script>
    <script src="home_files/governmentMonitoring.js"></script>
    <script src="home_files/signout.js"></script>
    <script src="home_files/success_002.js"></script>
    <script src="home_files/summary.js"></script>
    <script src="home_files/activationcode_002.js"></script>    
    <script src="home_files/saveforlaterLanding.js"></script>   
    <script src="home_files/loanPurpose.js"></script>

    <script src="home_files/mynextstep.js"></script>
    <script src="home_files/myNextStepMain.js"></script> 
    <script src="home_files/success.js"></script> 
    <script src="home_files/eConsentModal.js"></script>    
    <script src="home_files/eConsent.js"></script>
    <script src="home_files/docusign.js"></script>
    <script src="home_files/docusign_002.js"></script>
    <script src="home_files/appraisal_002.js"></script>   
    <script src="home_files/appraisal.js"></script> 
    <script src="home_files/pinAuthentication.js"></script> 

    <script src="home_files/buyingPower.js"></script>
    <script src="home_files/expenses.js"></script>
    <script src="home_files/fianances.js"></script>
    <script src="home_files/property_004.js"></script>

    
    <script src="home_files/loansnapshot.js"></script>
    <script src="home_files/leadsource.js"></script>
    <script src="home_files/user.js"></script>


    
    <script src="home_files/uploadfiles.js"></script>
    <script src="home_files/uploadfiles_002.js"></script>

    
    <script src="home_files/modal_002.js"></script>
    <script src="home_files/modal.js"></script>

    
    <script src="home_files/bootstrap-slider.js"></script>
    <script src="home_files/slider.js"></script>

    
    <script src="home_files/documents_002.js"></script>
    <script src="home_files/documents.js"></script>
    <script src="home_files/documentUpload.js"></script>
    <script src="home_files/filePicker.js"></script>
    <script src="home_files/fileChange.js"></script>
    <script src="home_files/docLoad.js"></script>

    
    <script src="home_files/myDocuments.js"></script>

    
    <script src="home_files/eConsentSettings.js"></script>
    
    
    <script src="home_files/sendEmailReport.js"></script>
    <script src="home_files/pricingresults_002.js"></script>
    <script src="home_files/pricingresults.js"></script>
    <script src="home_files/userSelectedProductCategories.js"></script>
    <script src="home_files/calculator_002.js"></script>

    <script src="home_files/actionNotificaiton.js"></script>
    <script src="home_files/formatCurrency.js"></script>
    <script src="home_files/ngCurrency.js"></script>
    <script src="home_files/ngDate.js"></script>
    <script src="home_files/formatPercentage.js"></script>
    <script src="home_files/savecontinue.js"></script>
    <script src="home_files/back.js"></script>
    <script src="home_files/masterlist.js"></script>
    <script src="home_files/breadcrumb_002.js"></script>
    <script src="home_files/breadcrumb.js"></script>
    <script src="home_files/progressSpinnerDirective.js"></script>
    <script src="home_files/inputmatch.js"></script>
    <script src="home_files/navigationBar.js"></script>
    <script src="home_files/formButton.js"></script>
    <script src="home_files/expandCollapse.js"></script>
    <script src="home_files/common_005.js"></script>
    <script src="home_files/tooltip.js"></script>
    <script src="home_files/radioButton.js"></script>

    <script src="home_files/address_003.js"></script>

    <script src="home_files/filters.js"></script>

    
    <script src="home_files/mainNavbar.js"></script>
    <script src="home_files/featureNavbar.js"></script>
    <script src="home_files/banner.js"></script>
    <script src="home_files/footer.js"></script>

    <script src="home_files/myLoans.js"></script>

    <script src="home_files/zipcode.js"></script>

    <script src="home_files/navbar-consumersite.js"></script>
    
    
    <script src="home_files/ngDate.js"></script>
    
    <form class="ng-pristine ng-valid" name="cv_imp_cs_form_rdr_sso" id="cv_imp_cs_form_rdr_sso" style="display:none" action="/cv-imp-cs-public-display-redirect-sso.cshtml" method="POST" target="_top">
        <input name="cv_imp_cs_form_rdr_sso_val" id="cv_imp_cs_form_rdr_sso_val" value="about:blank" type="text">
    </form>





<div block-ui-container="" class="block-ui-container ng-scope"><div class="block-ui-overlay"></div><div class="block-ui-message-container" aria-live="assertive" aria-atomic="true"><div class="block-ui-message ng-binding" ng-class="$_blockUiMessageClass">Loading ...</div></div></div></body></html>