/*==================================================
 * Banner.css
 * 
 * Created By: Adam Alt
 * Created On: 2016-01-30
 * 
 * Breakpoints at: 320px(mobile), 768px(medium), and 1280px(desktop)
 * 
 * ===============================================*/

.banner {
    position: relative;
    margin-top: 0px;
    background-color: #f9f9f9;
    height: 55px;
}


@media (min-width: 768px) {
    .banner {
        margin-top: 150px;
        height: 150px;
        padding-top: 30px;
    }

    .banner-top {
        margin-top: 90px;
    }
}

/*==================================================
 * Banner - Title Region
 * ===============================================*/

.banner .banner-title-region {
    display: none;
}

@media (min-width: 768px) {
    .banner .banner-title-region {
        display: block;
        max-width: 550px;
        padding-top: 23px;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    .banner .banner-title-text-region {
        display: inline-block;
        vertical-align: top;
        margin-left: -40px;
    }

    .banner .banner-title-text {
        font-size: 21px;
    }

    .banner .banner-subtitle-text {
        font-size: 17px;
    }

        .banner .banner-subtitle-text > b {
            color: #1fb25a;
        }
}

@media (min-width: 1280px) {
    .banner .banner-title-region {
        max-width: 100%;
    }

    .banner .banner-title-text-region {
        margin-left: 0px;
    }

    .banner .banner-title-text {
        font-size: 24px;
    }
}

/*==================================================
 * Banner - Icon
 * ===============================================*/

.banner .banner-icon {
    display: none;
}

@media (min-width: 1280px) {
    .banner .banner-icon {
        display: inline-block;
        font-size: 50px;
        color: #1FB25A;
        margin-top: 5px;
        margin-right: 20px;
    }
}

/*==================================================
 * Banner - Back Button Region
 * ===============================================*/

.banner .back-button-region {
    display: none;
}

@media (min-width: 768px) {
    .banner .back-button-region {
        display: block;
        position: absolute;
        top: 43px;
        left: 3px;
        padding-left: inherit;
        color: #208ddc;
        cursor: pointer;
    }

    .banner .back-button-text {
        display: inline-block;
        font-size: 15px;
        vertical-align: top;
        margin-top: 4px;
    }

    .banner .back-button-icon {
        font-size: 2em;
        font-weight: bold;
    }
}

/*==================================================
 * Banner - Need Help Region
 * ===============================================*/

.banner .need-help-region {
    padding-top: 9px;
}

.banner .need-help-text {
    font-size: 13px;
    color: #727272;
}

.banner .need-help-phone {
    font-size: 15px;
    color: #3d3d3d;
}

@media (min-width: 768px) {
    .banner .need-help-region {
        position: absolute;
        top: 45px;
        right: 0px;
        padding-right: inherit;
        text-align: right;
    }
}

/*==================================================
 * Banner - Save for Later
 * ===============================================*/

.banner .save-for-later-region {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: inherit;
    text-align: right;
    padding-top: 9px;
}

.banner .save-for-later-text {
    font-size: 15px;
    color: #208ddc;
    cursor: pointer;
}

@media (min-width: 768px) {
    .banner .save-for-later-region {
        top: 17px;
    }

        .banner .save-for-later-region br {
            display: none;
        }
}

.banner-error-message {
    color: #ef1126;
    font-size: 17px;
}