/*==================================================
 * CommonStyle.css
 * 
 * Created By: Adam Alt
 * Created On: 2016-02-24
 *
 *   Stylesheet for common css classes used across the Consumer Site.
 *   If it's not truly common it shouldn't be in here.
 *     Rule of Thumb:
 *      1.  If it's a style used in 4 or more pages put it in here.
 *      2.  If it's used in multiple modules (loanApp and myNextStep) put it in here too.
 * 
 * Breakpoints at: 320px(mobile), 768px(medium), and 1280px(desktop)
 *
 *   Font Family: Helvetica Neue Light
 *   Standard Sizes: 12px, 13px, 15px, 17px, 21px, 24px (See "Font Sizes" section below)
 *   Colors Used: (See "Text Colors" section below)
 *      #3d3d3d (off-black)
 *      #9d9d9d (grey)
 *      #727272 (dark-grey) 
 *      #208ddc (blue)
 *      #1FB25A (green)
 * ===============================================*/

/* Bootstrap has breakpoints at 768px(sm), 992px(md), 1200px(lg)
@media (min-width: 768px) {
    .my-class {
        padding: 10px 10% 5px 10%;
    }
}
*/


/*==================================================
 * Font Sizes
 * ===============================================*/
.font-xs {
    font-size: 12px;
}

.font-sm {
    font-size: 13px;
}

.font-md {
    font-size: 15px;
}

.font-lg {
    font-size: 17px;
}

.font-xl {
    font-size: 21px;
}

.font-xxl {
    font-size: 24px;
}

/*==================================================
 * Demo
 * ===============================================*/
.demo_margin {
    margin-top: 190px;
}

.demo-margin-esign-instruct {
    margin-top: 145px;
}

/*==================================================
 * Auth-a
 * ===============================================*/
.auth-a a {
    font-size: 11px;
}

    .auth-a a:disabled {
        cursor: not-allowed;
        color: #9c9c9c;
    }

/*==================================================
 * Save and Continue Button Bottom and Top
 * ===============================================*/
.save-and-continue-button-bottom {
    margin-top: 22px;
    margin-bottom: 50px;
}

.save-and-continue-button-top {
    margin-top: 11px;
    margin-bottom: 5px;
}

/*==================================================
 * Important Global Classes
 * ===============================================*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #3d3d3d;
}

.mgt_05 {
    margin-top: 0.5em;
}

.mgt_2 {
    margin-top: 2em;
}

.link {
    color: #208DDC;
    cursor: pointer;
}

.inline {
    display: inline-block;
}

.pdl_0 {
    padding-left: 0px;
}

.imp-disclaimer {
    color: #9c9c9c;
}

.nowrap {
    white-space: nowrap;
}

.cursor-default {
    cursor: default !important;
}

.coborrower-name {
    font-weight: 100 !important;
    color: #9d9d9d !important;
}

/*==================================================
 * App Global Layout - App Container
 * ===============================================*/

.app-container {
    position: relative;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 10px;
}

@media (min-width: 768px) {
    .app-container {
        padding: 0px 15px;
    }
}

@media (min-width: 1280px) {
    .app-container {
        padding: 0px 20px;
    }
}

@media (min-width: 1320px) {
    .app-container {
        padding: 0px 0px;
    }
}

/*==================================================
 * App Global Layout - App Full Width
 * ===============================================*/

.app-full-width-sm {
    padding: 0px -10px;
}

/*==================================================
 * App Global Layout - App Left Column
 * ===============================================*/

.cv-app-left-col {
    width: 210px;
}

@media (min-width: 768px) {
    .cv-app-left-col-md {
        width: 210px !important;
    }
}

@media (min-width: 1280px) {
    .cv-app-left-col-lg {
        width: 210px !important;
    }
}

/*==================================================
 * Custom Select Dropdown
 * ===============================================*/

select {
    border: 1px solid #dddddd !important;
    background-image: url(images/dropdown-arrow.png) !important;
    background: no-repeat right;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0px 0px 0px 5px !important;
}

    select::-ms-expand {
        display: none;
    }

    /* might be needed for opera to hide the default select icon */
    /*noindex:-o-prefocus,
select {
    background-image: none;
}*/


    /*==================================================
 * Dropdown With Default Placeholder selected
 * ===============================================*/

    select.placeholder {
        color: #9d9d9d;
    }

    select > option {
        color: #3d3d3d;
    }

        select > option.placeholder,
        select > option:disabled {
            color: #9d9d9d;
        }

/*==================================================
 * Custom Checkbox
 * ===============================================*/

input[type="checkbox"].cv-checkbox,
input[type="radio"].cv-checkbox {
    display: none;
}

    input[type="checkbox"].cv-checkbox + label,
    input[type="radio"].cv-checkbox + label {
        cursor: pointer;
        color: #1a1a1a;
    }

        input[type="checkbox"].cv-checkbox + label span.cv-checkbox-icon,
        input[type="radio"].cv-checkbox + label span.cv-checkbox-icon {
            display: inline-block;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            border: 1px solid #c2c2c2;
            margin-right: 21px;
            margin-top: -4px;
        }

    input[type="checkbox"].cv-checkbox:checked + label span.cv-checkbox-icon,
    input[type="radio"].cv-checkbox:checked + label span.cv-checkbox-icon {
        background: url('images/checkbox-checked.png') 0px/33px no-repeat;
        background-position: right;
        border: none;
        margin-right: 12px;
        width: 25px;
        height: 24px;
        margin-bottom: -2px;
        margin-top: -7px;
    }


/*==================================================
 * Checkbox2
 * ===============================================*/
.checkbox2 input[type="checkbox"] + label {
    font-weight: 100;
    color: #9d9d9d;
}

    .checkbox2 input[type="checkbox"] + label span:first-child {
        float: left;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        border: 1px solid #c2c2c2;
        margin-left: -36px;
        margin-top: 2px;
    }

.checkbox2 input[type="checkbox"]:checked + label span:first-child {
    float: left;
    background: url('images/checkbox-checked.png') 0px/33px no-repeat;
    background-position: right;
    border: none;
    margin-left: -36px;
    width: 25px;
    height: 24px;
    margin-top: -3px;
}


/*==================================================
 * Question Mark Label
 * ===============================================*/
.question-mark-label {
    color: silver;
    font-weight: normal;
    float: right;
}

/*==================================================
 * Checkbox Related Classes
 * ===============================================*/

.form-group .checkbox {
    text-align: left;
    margin-left: 45px;
}

.form-group .checkbox-lg {
    margin-bottom: 9px;
}

.checkbox-label-lg {
    font-size: 15px;
    color: #3d3d3d !important;
}

/*==================================================
 * Custom Radio Button
 * ===============================================*/

input[type="radio"].cv-radio {
    display: none;
}

    input[type="radio"].cv-radio + label {
        cursor: pointer;
        font-weight: normal;
        color: #191919;
    }

        input[type="radio"].cv-radio + label span.cv-radio-icon {
            display: inline-block;
            vertical-align: top;
            width: 16px;
            height: 16px;
            border: 1px solid #c2c2c2;
            border-radius: 10px;
            border-radius: 50%;
            margin-right: 9px;
        }

    input[type="radio"].cv-radio:checked + label span.cv-radio-icon {
        background-color: #238DDA;
    }

input[type="radio"].radio-invalid-always {
    border: 1px solid #ef1126 !important;
    background-color: #FDEAEA !important;
    color: #a3a3a3;
}

/*==================================================
 * Radio Group
 * ===============================================*/

.radio-group {
    margin-top: 7px;
}

    .radio-group input[type="radio"].cv-radio + label {
        margin-left: 27px;
    }

    .radio-group input[type="radio"].cv-radio:first-child + label {
        margin-left: 0px;
    }

/*==================================================
 * Yes No Radio Group
 * ===============================================*/

.yes-no-radio-group input[type="radio"].cv-radio + label {
    margin-left: 45px;
}

/*==================================================
 * Section Question Radio buttons
 * ===============================================*/

.section-question-radio {
    padding-left: 30px;
}

    .section-question-radio input[type="radio"].cv-radio + label {
        margin-right: 30px;
    }


/*==================================================
 * Form Controls - Specific Styles for Selects and Inputs
 * ===============================================*/

.form-control {
    color: #000000;
    height: 35px;
    border-radius: 3px;
}

.form-horizontal .control-label {
    color: #9d9d9d;
    font-weight: 100;
    font-size: 15px;
    padding-top: 5px;
}

.form-control:hover {
    border-color: #208ddc !important;
}

.form-control:focus {
    border-color: #208ddc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input.form-control {
    padding: 0px 0px 0px 9px;
}

.form-control.half-box {
    min-width: 117px;
}

.form-horizontal .form-group {
    margin-bottom: 9px;
}

.form-horizontal .form-group-short {
    margin-bottom: 5px !important;
}

.form-control-100 {
    width: 100%;
    padding: 6px 0 6px 3px;
    margin: 2px 0;
}

.formMinus16 {
    margin-left: -16px;
    margin-right: -16px;
}

/*==================================================
 * Input Validation Classes
 * ===============================================*/

.custom-error {
    color: red !important;
    font-size: 13px;
}

input.ng-dirty.ng-invalid:not([disabled]),
input.ng-touched.ng-invalid:not([disabled]) {
    background-color: #fdeaea;
    border: 1px solid #ef1126 !important;
    color: #a3a3a3 !important;
}

.cv-invalid-always {
    border: 1px solid #ef1126 !important;
    background-color: #FDEAEA !important;
    color: #a3a3a3;
}

.cv-invalid:not(.ng-valid) {
    border: 1px solid #ef1126 !important;
    background-color: #FDEAEA !important;
    color: #a3a3a3;
}

.cv-invalid-touched.ng-touched:not(.ng-valid) {
    border: 1px solid #ef1126 !important;
    background-color: #FDEAEA !important;
    color: #a3a3a3;
}

.select-validation.input-validation-error:not([disabled]),
.select-validation.ng-dirty.ng-invalid:not([disabled]),
.select-validation.ng-dirty.ng-invalid:not([disabled]):hover,
.select-validation.ng-dirty.ng-invalid:not([disabled]):focus,
.select-validation.ng-touched.ng-invalid:not([disabled]),
.select-validation.ng-touched.ng-invalid:not([disabled]):hover,
.select-validation.ng-touched.ng-invalid:not([disabled]):focus {
    border-color: #ef1126 !important;
    background-color: #FDEAEA !important;
    color: #a3a3a3;
}

.input-match div.input-state:after,
.input-match div.input-state-no-lock:after {
    content: "doesn't match";
    color: red;
}

input[type="radio"].ng-dirty.ng-invalid:not([disabled]) + label span,
input[type="radio"].ng-touched.ng-invalid:not([disabled]) + label span {
    background-color: #fdeaea;
    border: 1px solid #ef1126 !important;
}

input[type="checkbox"].ng-dirty.ng-invalid:not([disabled]) + label span,
input[type="checkbox"].ng-touched.ng-invalid:not([disabled]) + label span {
    background-color: #fdeaea;
    border: 1px solid #ef1126 !important;
}

.invalid-field {
    color: red !important;
    border-color: #ef1126;
    background-color: #fdeaea;
}

/*==================================================
 * Input Hide Spinners and DatePickers.
 * ===============================================*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-inner-spin-button,
input[type=month]::-webkit-outer-spin-button,
input[type=month]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-calendar-picker-indicator {
    display: none;
}

/*==================================================
 * Text Alignment
 * ===============================================*/

.left {
    text-align: left !important;
}

.center {
    text-align: center !important;
}

.right {
    text-align: right !important;
}

/*==================================================
 * Text Ellipses
 * ===============================================*/

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis !important;
}

/*==================================================
 * Text Colors
 * ===============================================*/

.off-black-text {
    color: #3d3d3d !important;
}

.grey-text {
    color: #9d9d9d !important;
}

.dark-grey-text {
    color: #727272 !important;
}

.blue-text {
    color: #208ddc !important;
}

.green-text {
    color: #1FB25A !important;
}

.black-text {
    color: #000000 !important;
}

.red-text {
    color: #EF1126 !important;
}

.red-text-header {
    color: #EF1126;
    font-weight: bold;
}

.green-text-header {
    color: #1FB25A;
    font-weight: bold;
}

/*==================================================
 * Font-Weight
 * ===============================================*/

.bold {
    font-weight: bold !important;
}

.thin {
    font-weight: 100;
}

/*==================================================
 * Page Body
 * ===============================================*/

.center-block {
    min-height: 795px;
}

.center-block-my-next-step {
    min-height: 900px;
}

/*Temporary, for the saveForLater workflow*/
.center-block.no-banner {
    margin-top: 150px;
}

.view-body-2 {
    margin-top: 65px;
}

.pricing-view-body {
    margin-top: 65px;
}

.wizard-content {
    padding: 15px 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1280px;
}

/*==================================================
 * Div tables
 * ===============================================*/

.rTable {
    display: table;
}

.rTableRow {
    display: table-row;
}

.rTableHeading {
    display: table-header-group;
}

.rTableBody {
    display: table-row-group;
}

.rTableFoot {
    display: table-footer-group;
}

.rTableRow > div {
    display: table-cell;
}

/*==================================================
 * Lists
 * ===============================================*/

ul li.margin-bottom-3 {
    margin-bottom: 3px;
}

ul li.margin-bottom-6 {
    margin-bottom: 6px;
}

ul li.padding-bottom-6 {
    padding-bottom: 6px;
}

ul li.border-bottom {
    border-bottom: 1px solid silver;
}

/*==================================================
 * Section Title
 * ===============================================*/

.section-title {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    margin-top: 15px;
}

.section-subtitle {
    font-size: 17px;
    color: #000000;
}

.section-subtitle-lg {
    font-size: 21px;
    color: #3d3d3d;
}

.section-subtitle-xs {
    font-size: 11px;
    color: #9d9d9d;
}

.section-title.top {
    margin-top: 0px;
}

.section-content {
    margin-top: 25px;
}



.section-content-lg {
    margin-top: 45px;
}

.section-content-sm {
    margin-top: 11px;
}

.section-underline {
    margin-bottom: 11px;
    border-bottom: 1px solid #BDBEBE;
}

/*==================================================
 * Custom tables
 * ===============================================*/
.table-responsive.border-collapse {
    border: 0px !important;
}

.table-collapse {
    border-collapse: collapse !important;
}

    .table-collapse tr, .table-collapse tr td {
        border: none !important;
        padding: 1px !important;
    }

        .table-collapse tr td {
            padding-right: 6px !important;
            white-space: nowrap;
        }

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

/*==================================================
 * Item Box
 * ===============================================*/

.item-box {
    padding: 11px 0px;
    margin-top: 4px;
    min-height: 25px;
    border: 1px solid #E2E2E2;
    background-color: #F9F9F9;
    border-radius: 3px;
    cursor: pointer;
    font: 13px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .item-box {
        font-size: 15px;
        margin-top: 9px;
        min-height: 45px;
    }
}

.item-box.add-box {
    background-color: transparent;
}

.item-box:hover {
    border-color: #208DDC;
}

.item-box > div {
    vertical-align: middle;
}

.item-box .fa-minus-circle {
    color: #F4BABC;
    cursor: pointer;
}

.item-box.selected {
    border-color: #208DDC !important;
    background-color: #D2F9FF !important;
}

/* ================================================
 * Icons
 * ==============================================*/

[class^="cv-icon-"],
[class*=" cv-icon-"] {
    display: inline-block;
}

/*==================================================
 * Buttons
 * ===============================================*/

.btn.btn-gray-90 {
    background-color: #E5E5E5;
}

.btn {
    height: 40px;
    font-size: 15px;
    padding: 7px 25px;
    width: 240px;
}

.slf-btn {
    height: 40px;
    font-size: 15px;
    padding: 0px 25px;
    width: 240px;
}


.btn-primary {
    border-radius: 3px;
    border: 1px solid #0271da;
    color: #ffffff;
    background: -webkit-linear-gradient(top, #0396e4, #0271da);
    background: -ms-linear-gradient(top, #0396e4, #0271da);
    background: linear-gradient(top, #0396e4, #0271da);
}

    .btn-primary:hover {
        background: -webkit-linear-gradient(top, #02a7e3, #0286db);
        background: -ms-linear-gradient(top, #02a7e3, #0286db);
        background: linear-gradient(top, #02a7e3, #0286db);
    }

    .btn-primary:active,
    .btn-primary:visited {
        background: -webkit-linear-gradient(top, #026b96, #024386);
        background: -ms-linear-gradient(top, #026b96, #024386);
        background: linear-gradient(top, #026b96, #024386);
    }

.btn-secondary {
    border-radius: 3px;
    border: 1px solid #bdbebe;
    color: #000000;
    background-color: #f9f9f9;
}

.btn-add-item {
    background-color: #f9f9f9;
}

.btn-option {
    height: 35px;
    border-radius: 3px;
    border: 1px solid #bdbebe;
    font-size: 15px;
    color: #3d3d3d;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.btn-option-selected {
    background-color: #1FB25A !important;
    color: #fff !important;
}

.btn-sign-disclosures {
    margin-top: -15px;
    height: 55px;
    font-size: 21px;
}

.btn-sign-disclosures-text {
    margin-top: -1px;
    margin-left: 9px;
    vertical-align: top;
}

@media (min-width: 405px) {
    .btn-sign-disclosures {
        margin-left: 15px;
    }
}

.btn-select-rate {
    height: 39px;
    width: 155px;
    font-weight: bold;
}

.btn-send-my-report {
    margin-left: 0px !important;
    margin-bottom: 15px;
    height: 39px;
    width: 133px;
    padding-left: 11px;
    background-color: #ff8b17;
    color: white;
    font-weight: 400;
    border: 1px solid #ff8b17;
}

    .btn-send-my-report:hover {
        background-color: #e86300;
        color: white !important;
    }

    .btn-send-my-report:active {
        background-color: #d14600;
        color: white !important;
    }

    .btn-send-my-report:disabled {
        background-color: white;
        color: #ff8b17 !important;
    }

/*==================================================
 * General Icons
 * ===============================================*/

.fa-plus-circle {
    color: #208ddc;
    font-size: 19px;
    margin-right: 2px;
}

.cv-icon-add-symbols {
    color: #208ddc;
    font-size: 15px;
    margin-right: 2px;
}

/*==================================================
 * General Styles
 * ===============================================*/

.total-label {
    font-size: 13px !important;
    color: #3d3d3d !important;
    font-weight: bold !important;
}

.total-value {
    margin-left: 1px;
    margin-top: 6px;
    font-size: 13px !important;
    color: #2fbc64 !important;
}

.disabled {
    color: #9d9d9d;
}

/*==================================================
 * Center Column
 * ===============================================*/

.center-col .form-label {
    font-weight: normal;
}

@media (min-width: 768px) {
    .center-col .form-group {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .center-col .control-label {
        position: absolute;
        right: 270px;
        top: 1px;
        white-space: nowrap;
    }

    .center-col .form-label {
        /* a label that goes in place of an input (eg. Email label at top of Account Info page) */
        height: 34px;
        padding-top: 6px;
        margin-bottom: 0px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .center-col-md .form-group {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .center-col-md .control-label {
        position: absolute;
        right: 270px;
        top: 1px;
        white-space: nowrap;
    }

    .center-col-md .form-label {
        /* a label that goes in place of an input (eg. Email label at top of Account Info page) */
        height: 34px;
        padding-top: 6px;
        margin-bottom: 0px;
    }
}

@media (min-width: 1200px) {
    .center-col-md .control-label {
        /* at large widths make sure the labels don't overlap with the inputs to their left */
        /* padding-left: 70px; */
    }
}

/*==================================================
 * Section Title
 * ===============================================*/

.section-title {
    font-size: 21px;
    font-weight: bold;
    color: #3d3d3d;
    margin-top: 15px;
}

.section-subtitle {
    font-size: 17px;
    color: #000000;
}

.section-subtitle-lg {
    font-size: 21px;
    color: #3d3d3d;
}

    .section-subtitle-lg label {
        font-weight: normal !important;
    }

.section-subtitle-xs {
    font-size: 11px;
    color: #9d9d9d;
}

.section-title.top {
    margin-top: 0px;
}

.section-content {
    margin-top: 25px;
}

.section-content-lg {
    margin-top: 45px;
}

.section-content-sm {
    margin-top: 11px;
}

.section-underline {
    margin-bottom: 11px;
    border-bottom: 1px solid #BDBEBE;
}

/*==================================================
 * Section Questions
 * ===============================================*/

.section-question-text {
    color: #3d3d3d;
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 9px;
    font-weight: normal;
}

    .section-question-text.top {
        margin-top: 0px;
    }

.section-question-subtext {
    color: #9d9d9d;
    margin-bottom: 17px;
}

.section-question-underline {
    padding-bottom: 9px;
    margin-bottom: 17px;
    border-bottom: 1px solid #BDBEBE;
}

/*==================================================
 * Dual Inputs - 70-30 - a dual inputs with 70% width to the first input
 * ===============================================*/

.input-group.dual-input-70-30 {
    display: block;
}

.dual-input-70-30 {
    min-width: 120px;
    min-height: 35px;
}

    .dual-input-70-30 input,
    .dual-input-70-30 select {
        min-width: 40px !important;
        display: inline-block;
    }

    .dual-input-70-30 input {
        width: 69% !important;
    }

    .dual-input-70-30 select {
        width: 31% !important;
    }

/*==================================================
 * Dual Inputs - 60-40 - a dual inputs with 60% width to the first input
 * ===============================================*/

.input-group.dual-input-60-40 {
    display: block;
    min-height: 35px;
}

.dual-input-60-40 {
    min-width: 120px;
}

    .dual-input-60-40 input,
    .dual-input-60-40 select {
        min-width: 40px !important;
        display: inline-block;
    }

    .dual-input-60-40 .first {
        width: 59% !important;
    }

    .dual-input-60-40 .second {
        width: 41% !important;
    }

    .dual-input-60-40 select {
        /*color: gray;*/
    }

/*==================================================
 * Dual Input - e.g Year Month inputs - dual input with equally wide inputs.
 * ===============================================*/

.input-group.dual-input {
    display: block;
}

.dual-input {
    min-width: 120px;
    min-height: 35px;
}

    .dual-input input,
    .dual-input select {
        display: inline-block;
        min-width: 20px !important;
        width: 50% !important;
    }

/*==================================================
 * Dual Input - Spaced.  A dual input with a little space between the inputs.
 * ===============================================*/

.input-group.dual-input-spaced {
    display: block;
}

.dual-input-spaced {
    min-width: 120px;
    min-height: 35px;
}

    .dual-input-spaced .form-control {
        display: inline-block;
        min-width: 40px !important;
        width: 49% !important;
        border-radius: 3px !important;
    }

    .dual-input-spaced .second-input {
        margin-left: 2%;
    }

/*==================================================
 * Dual Input - Joined. A dual input without a border separation between the inputs.
 * ===============================================*/

.input-group.dual-input-joined {
    display: block;
}

.dual-input-joined {
    min-width: 240px;
    min-height: 35px;
}

    .dual-input-joined input {
        display: inline-block;
        min-width: 50px !important;
        width: 50% !important;
    }

        .dual-input-joined input.first {
            border-right-width: 0px;
            width: 60% !important;
        }

        .dual-input-joined input.second {
            border-left-width: 0px;
            width: 40% !important;
        }


    .dual-input-joined.time-period:after {
        position: absolute;
        content: "to";
        color: #9d9d9d;
        margin-top: 6px;
        margin-left: -48%;
        z-index: 2;
    }

/*==================================================
 * Dual Input - Joined Extended
 * ===============================================*/

.dual-input-joinedExt {
    min-width: 260px;
    min-height: 35px;
}

    .dual-input-joinedExt input {
        display: inline-block;
        min-width: 50px !important;
        width: 50% !important;
    }

        .dual-input-joinedExt input.firstExt {
            border-right-width: 0px;
            width: 50% !important;
        }

        .dual-input-joinedExt input.secondExt {
            border-left-width: 0px;
            width: 50% !important;
        }

    .dual-input-joinedExt.time-periodExt:after {
        position: absolute;
        content: "to";
        color: #9d9d9d;
        margin-top: 6px;
        margin-left: -52%;
        z-index: 2;
    }

/*==================================================
 * Dual Input Zip State - A special dual input for when a zipcode textbox and state dropdown are needed.
 * ===============================================*/

.input-group.dual-input-zip-state {
    display: block;
}

.dual-input-zip-state {
    min-width: 120px;
    min-height: 35px;
}

    .dual-input-zip-state select,
    .dual-input-zip-state input {
        display: inline-block;
        min-width: 40px !important;
        width: 49% !important;
        border-radius: 3px !important;
    }

    .dual-input-zip-state select,
    .dual-input-zip-state .second {
        /*color: gray;*/
        margin-left: 2%;
    }


/*==================================================
 * Mega Important Bootstrap Layout overrides for Loan-app pages only
 * ===============================================*/

@media(min-width: 992px) {
    .wizard-content .form-control,
    .wizard-content .input-group,
    .wizard-content .radio-group {
        width: 240px;
    }
}

/*==================================================
 * Secure Input
 * ===============================================*/

.secure-input.invalid input {
    border: 1px solid red;
}

.secure-input.pin-auth.invalid input {
    color: #a3a3a3;
    background-color: #fdeaea;
}

/*==================================================
 * Secure Input - Input State
 * ===============================================*/

.secure-input div.input-state,
.secure-input div.input-state-match,
.secure-input div.input-state-no-lock {
    position: absolute;
    top: 7px;
    z-index: 100;
}

.secure-input div.input-state,
.secure-input div.input-state-match {
    right: 50px;
}

.secure-input div.input-state-no-lock {
    right: 20px;
}

.secure-input.invalid div.input-state,
.secure-input.invalid div.input-state-match {
    color: red;
}

    .secure-input.invalid div.input-state:after {
        content: "invalid";
    }

.secure-input.pin-auth.invalid div.input-state:after {
    content: "invalid pin";
}

.secure-input.invalid div.input-state-match:after {
    content: "doesn't match";
}

/*==================================================
 * Secure Input - Icon
 * ===============================================*/

.secure-input .secure-input-icon {
    color: #9D9D9D;
    position: absolute;
    top: 6px;
    right: 31px;
    font-size: 17px;
}

/*==================================================
 * Secure Input - center-col-md OFFESTS for left side
 * ===============================================*/

@media (min-width: 1200px) {
    .center-col-md .col-lg-3 .secure-input-icon {
        right: -209px;
    }

    .center-col-md .col-lg-3 .secure-input div.input-state {
        right: -190px;
    }
}

/*==================================================
 * Secure Input - center-col-md OFFESTS for right side
 * ===============================================*/

@media (min-width: 1200px) {
    .center-col-md .col-lg-5 .secure-input-icon {
        right: -200px;
    }

    .center-col-md .col-lg-5 .secure-input div.input-state {
        right: -181px;
    }
}

/*==================================================
 * My Next Step Stairs Region
 * ===============================================*/

.my-next-step-stairs-region .cv-icon-stairs {
    font-size: 27px;
    color: #1FB25A;
}

.my-next-step-stairs-region .cv-icon-my-next-step-text {
    position: relative;
    top: 7px;
    left: 2px;
    font-size: 33px;
    color: #3d3d3d;
}

@media (min-width: 768px) {
    .my-next-step-stairs-region .cv-icon-stairs {
        font-size: 37px;
    }

    .my-next-step-stairs-region .cv-icon-my-next-step-text {
        top: 9px;
        font-size: 43px;
    }
}

/*==================================================
 * Number Circle
 * ===============================================*/

.number-circle {
    /*    font-family: trebuchet ms;*/
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 23px;
    position: relative;
    background-color: #208ddc;
}

    .number-circle .height_fix {
        margin-top: 100%;
    }

    .number-circle .number-circle-content {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        top: 1px;
        left: 8px;
    }


/*==================================================
     * Save for later
     ====================================================*/
.savefor-later-landing .choice-text-display {
    margin-top: 15px;
    color: #3d3d3d;
    font-size: 21px;
}

.savefor-later-landing .text-display {
    color: #3d3d3d !important;
    font-size: 17px !important;
}

/*
    Radio directive
*/
[type="radio"].radio-button {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* One radio button per line */
label.radio-button-label {
    cursor: pointer;
    font-weight: normal;
    color: #191919;
}

[type="radio"].radio-button + span {
    display: block;
    font-weight: normal;
    color: #191919;
}

    /* the basic, unchecked style */
    [type="radio"].radio-button + span:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: -0.15em;
        border-radius: 1em;
        box-shadow: 0 0 0 1px rgb(194, 194, 194);
        margin-right: 9px;
    }

/* the checked style using the :checked pseudo class */
[type="radio"].radio-button:checked + span:before {
    background: #238DDA;
}

/* never forget focus styling */
[type="radio"].radio-button:focus + span:before {
    /*box-shadow: 0 0 0 2px #238DDA;*/
    border: 1px solid #fff;
    box-shadow: 0 0 0 0.15em #208ddc;
    margin-right: 0.5em;
}

.radio-button-reset-margin {
    margin: 0 !important;
}

[type="radio"].radio-button.ng-invalid.ng-touched + span:before {
    /*box-shadow: 0 0 0 2px #238DDA;*/
    /*border: 1px solid #fff;*/
    border: 1px solid #ef1126 !important;
    box-shadow: 0 0 0 0.15em #fdeaea;
    margin-right: 0.5em;
}

label.ng-invalid.ng-touched > input[type="radio"].radio-button + span:before {
    /*box-shadow: 0 0 0 2px #238DDA;*/
    /*border: 1px solid #fff;*/
    border: 1px solid #ef1126 !important;
    box-shadow: 0 0 0 0.15em #fdeaea;
    margin-right: 0.5em;
}

/*==================================================
 * Radio Group
 * ===============================================*/

.radio-group label > input[type="radio"].radio-button + span {
    margin-left: 27px;
}

.radio-group label:first-child > input[type="radio"].radio-button + span {
    margin-left: 0;
}

/*==================================================
 * Yes No Radio Group
 * ===============================================*/

.yes-no-radio-group label > input[type="radio"].radio-button + span {
    margin-left: 45px;
}

/*==================================================
 * Section Question Radio buttons
 * ===============================================*/

.section-question-radio label > input[type="radio"].radio-button + span {
    margin-right: 30px;
}

/*-------------------------*/
.text-overflow {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

/***********************************************
    Save for later - button alignment
***********************************************/
.row-button {
    margin-top: 12px;
}

.label-text-font {
    font-weight:normal !important;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }