/*==================================================
 * FeatureNavbar.css
 * 
 * Created By: Adam Alt
 * Created On: 2016-01-28
 * 
 * Breakpoints at: 320px(mobile), 768px(medium), and 1280px(desktop)
 * 
 * ===============================================*/


/*==================================================
 * Feature Navbar
 * ===============================================*/

.feature-navbar {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    margin-top: 0px;
    height: 60px;
    margin-bottom: 0px;
    padding: 5px 0px 0px 0px;
    background-color: #fff;
    border-radius: 0;
    border-width: 0px 0px 1px 0px;
    z-index: 1030;
}

@media (min-width: 768px) {
    .feature-navbar {
        position: fixed;
        margin-top: 90px;
        height: 90px;
        padding: 19px 0px 0px 0px;
    }
}

/*==================================================
 * Feature Navbar - Logo
 * ===============================================*/

.feature-navbar .navbar-brand {
    float: right;
    padding: 15px 0px 0px 0px;
}

.feature-navbar .logo-img-feature {
    margin-top: -7px;
    font-size: 31px;
}

@media (min-width: 1200px) {
    .feature-navbar .logo-img-feature {
        margin-top: -14px;
        font-size: 45px;
    }
}

@media (min-width: 1280px) {
    .feature-navbar .navbar-header {
        float: right;
    }

    .feature-navbar .navbar-brand {
        padding: 15px 0px 0px 0px;
        width: 200px;
    }

    /*.feature-navbar .logo-img-feature {
        margin-top: -15px;
        margin-left: -3px;
    }*/
}

/*==================================================
 * Feature Navbar - Mobile Menu Icon
 * ===============================================*/

.feature-navbar .navbar-toggle {
    border: none;
    float: left;
    margin-right: 0px;
}

    .feature-navbar .navbar-toggle .icon-bar {
        background-color: #6D6D6D;
    }

/*==================================================
 * Feature Navbar - Mobile Header, Divider, and Back Button
 * ===============================================*/

.feature-navbar .navbar-header {
    float: left;
    width: 100%;
}

.feature-navbar .mobile-menu-divider {
    float: left;
    border-left: 1px solid #bdbebe;
    height: 40px;
    margin: 4px 25px 0px 15px;
}

.feature-navbar .back-button {
    float: left;
}

@media (min-width: 768px) {
    .feature-navbar .mobile-menu-divider,
    .feature-navbar .back-button {
        display: none;
    }

    .feature-navbar .navbar-header {
        width: inherit;
    }
}

/*==================================================
 * Feature Navbar - Collapse Region
 * ===============================================*/

.feature-navbar .feature-navbar-collapse {
    position: absolute;
    top: 55px;
    background: #fff;
    margin: 0px 0px 0px -15px;
    padding: 0px;
    width: 235px;
    height: 100vh;
}

.feature-navbar .feature-navbar-collapse-backdrop {
    position: absolute;
    top: 0px;
    left: 235px;
    height: 100%;
    width: 30%;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

@media (min-width: 768px) {
    .feature-navbar .feature-navbar-collapse {
        position: static;
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: auto;
        background-color: transparent;
    }

    .feature-navbar .feature-navbar-collapse-backdrop {
        display: none;
    }

    .feature-navbar .feature-navbar-collapse.in {
        overflow-y: visible;
    }

    .feature-navbar .feature-navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

/*==================================================
 * Feature Navbar - Close Button
 * ===============================================*/

.feature-navbar .feature-navbar-close {
    display: none;
}

    .feature-navbar .feature-navbar-close.in {
        position: absolute;
        left: 0px;
        top: 0px;
        display: inline-block;
        width: 68px;
        height: 60px;
        margin-top: -5px;
        padding-top: 11px;
        padding-left: 23px;
        border-right: 1px solid #E1E1E1;
        font-size: 26px;
        background-color: #fff;
        cursor: pointer;
    }

@media (min-width: 786px) {
    .feature-navbar .feature-navbar-close {
        display: none !important;
    }
}

/*==================================================
 * Feature Navbar - Mobile Menu Items
 * ===============================================*/

.feature-navbar .mobile-menu li > a {
    font-size: 21px;
    color: #3d3d3d;
    padding: 10px 15px;
    line-height: 20px;
}

@media (min-width: 768px) {
    .feature-navbar .mobile-menu {
        display: none;
    }
}

/*==================================================
 * Feature Navbar - Breadcrumb
 * ===============================================*/

.feature-navbar .breadcrumb-nav {
    display: none;
}

@media (min-width: 768px) {
    .feature-navbar .breadcrumb-nav {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 530px;
        float: none;
    }

        .feature-navbar .breadcrumb-nav > li > a {
            color: #727272;
            font-size: 15px;
            padding: 15px 0px 0px 0px;
        }

        .feature-navbar .breadcrumb-nav > li.active > a,
        .feature-navbar .breadcrumb-nav > li.active > a:hover,
        .feature-navbar .breadcrumb-nav > li.active > a:focus {
            color: #1fb25a;
            border-bottom: 2px solid #1fb25a;
            background-color: transparent;
        }

        .feature-navbar .breadcrumb-nav > li.complete > a {
            color: #1fb25a;
        }

        .feature-navbar .breadcrumb-nav .breadcrumb-arrow {
            margin: 22px 7px 12px 7px;
            font-size: 10px;
            color: #c6c6c6;
        }

        .feature-navbar .breadcrumb-nav .breadcrumb-finish-icon {
            font-size: 25px;
            color: #727272;
        }

        .feature-navbar .breadcrumb-nav .breadcrumb-finish-icon-active {
            font-size: 25px;
            color: #1BAD28;
        }
}

@media (min-width: 1280px) {
    .feature-navbar .breadcrumb-nav {
        float: left;
    }
}

/*==================================================
 * Feature Navbar - Link Images
 * ===============================================*/

.feature-navbar .navbar-link-img {
    display: inline-block;
    width: 65px;
}

@media (min-width: 1280px) {
    .feature-navbar .navbar-link-img {
        display: none;
    }
}

/*==================================================
 * Feature Navbar - Custom Link Images
 * ===============================================*/

.feature-navbar .icon-cash-house {
    margin-left: 3px;
    margin-bottom: 7px;
    color: #1FB25A;
}

/*==================================================
 * Feature Navbar - Stats Region
 * ===============================================*/

.feature-navbar .stats-region {
    position: absolute;
    top: 0px;
    left: 43%;
}

@media (min-width: 768px) {
    .feature-navbar .stats-region {
        left: auto;
        right: 0px;
        padding-right: inherit;
        z-index: -1;
    }
}

/*==================================================
 * Fontawesome - Custom Color
 * ===============================================*/
.fa-minus-circle {
    color: #ef1126;
}

.fa-plus-circle {
    color: blue;
}

/*==================================================
 * Feature Navbar - Percent Indicator
 * ===============================================*/

.feature-navbar .percent-indicator-img {
    height: 55px;
    vertical-align: top;
}

@media (min-width: 768px) {
    .feature-navbar .percent-indicator-img {
        height: 77px;
    }
}

/*==================================================
 * Feature Navbar - Percent Indicator
 * ===============================================*/

.feature-navbar .vis.spinner {
    margin-top: -9px;
    float: left;
}

/*==================================================
 * Feature Navbar - Loan Stats
 * ===============================================*/

.feature-navbar .stats-divider {
    display: none;
}

.feature-navbar .loan-stats-table {
    display: none;
}

@media (min-width: 1280px) {
    .feature-navbar .stats-divider {
        display: inline-block;
        height: 55px;
        border-left: 1px solid #bdbebe;
        margin: -3px 15px 0px 15px;
    }

    .feature-navbar .loan-stats-table {
        display: inline-block;
        vertical-align: top;
        margin-top: 5px;
    }

        .feature-navbar .loan-stats-table .data-row {
            color: #000;
            font-weight: 100;
            font-size: 17px;
        }

        .feature-navbar .loan-stats-table .label-row {
            color: #9d9d9d;
            font-weight: 100;
            font-size: 14px;
        }

        .feature-navbar .loan-stats-table .data-row > div {
            width: 95px;
        }

            .feature-navbar .loan-stats-table .data-row > div:last-child {
                padding-right: 0px;
            }
}

@media (min-width: 1320px) {
    .feature-navbar .stats-divider {
        margin: -3px 30px 0px 45px;
    }
}
