/*==================================================
 * Modals.css
 * 
 * Created By: Adam Alt
 * Created On: 2016-02-24
 * 
 * --For classes common to modals or flyouts.
 *
 * Breakpoints at: 320px(mobile), 768px(medium), and 1280px(desktop)
 * 
 * ===============================================*/


/* ================================================
 * Modals
 * ==============================================*/

.clear-backdrop {
    display: none;
}

    .clear-backdrop.in {
        display: block;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: transparent;
        z-index: 1001;
    }

/* ================================================
 * Modals
 * ==============================================*/



.modal-backdrop {
    /*old z-index: 1027 !important;*/
    z-index: 1027;
}

.modal {
    /*old z-index: 1028 !important;*/
    z-index: 1028;
}

.modal-backdrop.noBackdrop {
    display: none;
}

/* ================================================
 * Modals
 * ==============================================*/

.modal-dialog {
    margin-top: 10%;
}

/* ================================================
 * FLYOUTS
 * ==============================================*/

.flyout {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1049;
    min-width: 1px;
    background: #fff;
    z-index: 1028 !important;
}

    .flyout .flyout-dialog {
        background: #fff;
        -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    }

/* ================================================
 * Flyout Right
 * ==============================================*/

.flyout-right {
    right: 0;
    left: auto;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

/* ================================================
 * Spinner Modal With Text
 * ==============================================*/

.common-modal .modal-dialog {
    margin-top: 300px;
    width: 330px;
    height: 270px;
}



/* ================================================
 * file-picker-flyout
 * ==============================================*/
@media (min-width: 768px) {
    .file-picker-flyout .modal-dialog {
        margin-top: 190px;
        width: 400px;
    }

    .file-picker-flyout {
        /*top: 66px;  */
        /*-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.3);*/
        margin: 6px;
        border-radius: 3px;
    }

        .file-picker-flyout .modal-header {
            padding: 6px;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
        }

            .file-picker-flyout .modal-header .header-button {
                width: 110px;
                height: 24px;
            }

            .file-picker-flyout .modal-header label {
                width: 110px;
                height: 16px;
                font-size: 12px;
                padding: 2px 0 0 0;
            }

        .file-picker-flyout .modal-body {
            text-align: left;
            min-height: 200px;
            padding: 6px;
        }

        .file-picker-flyout .footer {
            text-align: right;
            margin-right: 6px;
        }

        .file-picker-flyout button {
            width: auto;
            cursor: pointer;
        }

        .file-picker-flyout .footer .footer-button {
            width: auto;
            margin: 0 0 6px 6px;
            cursor: pointer;
        }
}

/* ================================================
 * email-report-flyout
 * ==============================================*/
@media (min-width: 768px) {
    .email-report-flyout .modal-dialog {
        width: 340px;
    }

    .email-report-flyout {
        margin: 6px;
        border-radius: 3px;
    }

        .email-report-flyout .modal-header {
            padding: 6px;
            text-align: center;
            font-size: 20px;
            font-weight: 600;
        }

        .email-report-flyout .modal-body {
            text-align: left;
            min-height: 300px;
        }

        .email-report-flyout .footer {
            text-align: right;
        }

        .email-report-flyout button {
            width: auto;
            cursor: pointer;
        }

        .email-report-flyout .footer .footer-button {
            width: auto;
            margin: 0 0 6px 6px;
            cursor: pointer;
        }
}

/* ================================================
 * confirmation-flyout
 * ==============================================*/
@media (min-width: 768px) {
    .confirm-flyout .modal-dialog {
        width: 200px;
    }

    .confirm-flyout {
        margin: 6px;
        border-radius: 3px;
    }

        .confirm-flyout .modal-header {
            padding: 6px;
            text-align: Left;
            font-size: 16px;
            font-weight: 600;
        }

        .confirm-flyout .modal-body {
            text-align: left;
            min-height: 80px;
            padding: 6px;
        }

        .confirm-flyout .footer {
            text-align: right;
            margin-right: 6px;
        }

        .confirm-flyout button {
            width: auto;
            cursor: pointer;
        }

        .confirm-flyout .footer .footer-button {
            width: auto;
            margin: 0 0 6px 6px;
            cursor: pointer;
        }
}

/*==================================================
 * eConsent Modal
 * ===============================================*/

.econsent-modal {
    border-radius: 3px;
    padding: 10px 30px;
}

    .econsent-modal .cv-icon-touchscreen {
        position: absolute;
        left: 0px;
        top: 4px;
        font-size: 40px;
        color: #1FB25A;
    }

    .econsent-modal .top-row {
        padding-left: 60px;
        text-align: center;
    }

    .econsent-modal .section-margin {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .econsent-modal .header {
        font-size: 17px;
    }

    .econsent-modal .header-sub {
        font-size: 15px;
    }

    .econsent-modal .checkboxes {
        text-align: left;
        min-height: 80px;
        margin-left: 10px;
    }

    .econsent-modal .checkbox {
        margin-bottom: 25px;
    }

        .econsent-modal .checkbox label {
            padding-left: 0px;
        }

    .econsent-modal .econsent-checkbox-text {
        position: absolute;
        top: 4px;
        left: 30px;
        font-size: 13px;
    }

@media (min-width: 768px) {
    .econsent-modal .modal-dialog {
        height: 620px;
        width: 660px;
    }

    .econsent-modal .top-row {
        padding-left: 55px;
        text-align: left;
    }

    .econsent-modal .cv-icon-touchscreen {
        color: #1FB25A;
        padding-top: 7px;
        left: 0px;
    }

    .econsent-modal label.txt-lg-bold {
        font-size: 17px;
    }

    .econsent-modal .header {
        font-size: 21px;
    }

    .econsent-modal .header-sub {
        font-size: 15px;
    }

    .econsent-modal select,
    .econsent-modal btn {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    .econsent-modal .checkboxes,
    .econsent-modal .scrollbox {
        text-align: left !important;
    }

    .econsent-modal .scrollbox {
        max-width: 600px;
        max-height: 190px;
        overflow-y: scroll;
        border: 1px solid #E6E6E6;
        padding: 5px 5px 10px 5px;
        font-size: 12px;
        line-height: 1.3em;
        z-index: -1;
    }

    .econsent-modal .checkbox {
        margin-bottom: 10px;
    }
}

/*==================================================
 * AllOptionsFlyout.css
 * 
 * Created By: Adam Alt
 * Created On: 2016-02-24
 * 
 * Breakpoints at: 320px(mobile), 768px(medium), and 1280px(desktop)
 * 
 * ===============================================*/

.all-options-flyout {
    display: none;
}

    .all-options-flyout.in {
        display: block !important;
        top: 90px;
        width: 335px;
        -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.4);
    }

    .all-options-flyout .all-options-flyout-content {
        padding: 17px 20px;
    }

    /* ================================================
 * All Options Flyout - Close Button
 * ==============================================*/

    .all-options-flyout .all-options-close {
        position: fixed;
        top: 90px;
        right: 335px;
        width: 35px;
        height: 35px;
        padding: 5px 0px 0px 12px;
        background-color: black;
        color: white;
        font-size: 17px;
        cursor: pointer;
    }

    /* ================================================
 * All Options Flyout - Title
 * ==============================================*/

    .all-options-flyout .all-options-title-text {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
    }

    /* ================================================
 * All Options Flyout - Select Region
 * ==============================================*/

    .all-options-flyout .selection-divider {
        position: relative;
        top: 2px;
        display: inline-block;
        height: 15px;
        border-left: 1px solid black;
        margin: 0px 7px;
    }

    .all-options-flyout .selection-text {
        display: inline-block;
        font-size: 15px;
        color: #208ddc;
        cursor: pointer;
    }

    /* ================================================
 * All Options Flyout - Term Options Region
 * ==============================================*/

    .all-options-flyout .term-options-region {
        margin-top: 7px;
    }

    /* ================================================
 * All Options Flyout - Term Checkbox Region
 * ==============================================*/

    .all-options-flyout .term-checkbox-region {
        margin-top: 35px;
    }

    .all-options-flyout .term-checkbox {
        margin-bottom: 12px;
    }

        .all-options-flyout .term-checkbox > label {
            font-weight: normal;
            padding-left: 0px;
        }

    .all-options-flyout input[type="checkbox"].cv-checkbox + label span.cv-checkbox-icon {
        margin-right: 10px;
    }

    .all-options-flyout input[type="checkbox"].cv-checkbox:checked + label span.cv-checkbox-icon {
        margin-right: 1px;
    }

    /* ================================================
 * All Options Flyout - Slider Region
 * ==============================================*/

    .all-options-flyout .slider-region {
        margin-top: 12px;
    }

    .all-options-flyout .slider-filter {
        margin-bottom: 17px;
    }

    .all-options-flyout .slider-title-text {
        font-size: 15px;
        color: #000000;
    }

    .all-options-flyout .slider-controls {
        margin-top: 5px;
    }

    .all-options-flyout .slider-value-input input[type="text"] {
        font-size: 15px;
        min-width: 1px;
        width: 100%;
    }

    .all-options-flyout .slider-value-input {
        display: inline-block;
        width: 28%;
    }

    .all-options-flyout .slider-bar-region {
        display: inline-block;
        margin-left: 4%;
        width: 65%;
    }

    /* ================================================
 * All Options Flyout - Bootstrap Slider Overrides
 * ==============================================*/

    .all-options-flyout .slider.slider-horizontal .slider-track {
        height: 3px;
        top: 68%;
        background: none;
        background-color: #b5b5b5;
    }

    .all-options-flyout .slider.slider-horizontal .slider-handle {
        margin-top: -12px;
        width: 25px;
        height: 25px;
        background: none;
        background-color: #fff;
        border: 1px solid #ccc;
        -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    }

    .all-options-flyout .slider.slider-horizontal .slider-selection {
        background: none;
        background-color: #208ddc;
    }

    /* ================================================
 * All Options Flyout - Sort Region
 * ==============================================*/

    .all-options-flyout .sort-region {
        margin-top: 40px;
    }

    .all-options-flyout .radio-button-list {
        margin-top: 10px;
    }

    .all-options-flyout .radio-button-group {
        margin-bottom: 12px;
    }

    .all-options-flyout input[type="radio"].cv-radio + label {
        color: #000000;
    }

    /* ================================================
 * All Options Flyout - Button Region
 * ==============================================*/

    .all-options-flyout .button-region {
        margin-top: 12px;
    }


/*==================================================
 * ViewDetailsFlyout.css
 * 
 * Created By: Adam Alt
 * Created On: 2016-03-15
 * 
 * Breakpoints at: 320px(mobile), 768px(medium), and 1280px(desktop)
 * 
 * ===============================================*/

.view-details-flyout-container {
    display: none;
}

    .view-details-flyout-container.in {
        display: block;
    }

.view-details-flyout {
    display: block;
    position: absolute;
    top: 92px;
    bottom: 0px;
    width: 348px;
    height: 100%;
    z-index: 1043;
}

/* ================================================
 * View Details Flyout - Backdrop
 * ==============================================*/

.view-details-backdrop {
    display: block;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: transparent;
    z-index: 999;
}

/* ================================================
 * View Details Flyout - Close Button
 * ==============================================*/

.view-details-flyout .view-details-flyout-close {
    display: block;
    position: absolute;
    top: 0px;
    right: 348px;
    width: 37px;
    height: 37px;
    padding: 7px 0px 0px 14px;
    background-color: black;
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 0px #fff;
    cursor: pointer;
}

/* ================================================
 * View Details Flyout - Content
 * ==============================================*/

.view-details-flyout .flyout-content {
    padding: 7px 20px;
    color: #3d3d3d;
    height: 100%;
}

/* ================================================
 * View Details Flyout - Top Row
 * ==============================================*/

.view-details-flyout .top-row {
    margin-bottom: 21px;
}

/* ================================================
 * View Details Flyout - Term Region
 * ==============================================*/

.view-details-flyout .term-region {
    display: inline-block;
}

.view-details-flyout .term-year-text {
    display: inline-block;
    font-size: 39px;
    font-weight: bold;
}

.view-details-flyout .term-type-text {
    line-height: 18px;
    display: inline-block;
}

.view-details-flyout .term-icon {
    position: relative;
    bottom: 2px;
    font-size: 25px;
    margin-left: 2px;
}

/* ================================================
 * View Details Flyout - Payment Region
 * ==============================================*/

.view-details-flyout .payment-region {
    float: right;
}

.view-details-flyout .payment-amount {
    display: inline-block;
    font-size: 39px;
    font-weight: 100;
}

.view-details-flyout .payment-label {
    display: inline-block;
    line-height: 18px;
}

/* ================================================
 * View Details Flyout - Stats Row
 * ==============================================*/

.view-details-flyout .stats-row {
    position: relative;
}

.view-details-flyout .stat-group {
    display: inline-block;
    line-height: 17px;
    width: 33.333%;
}

    .view-details-flyout .stat-group.last {
        position: absolute;
        top: 0px;
        right: 0px;
        width: auto;
    }

.view-details-flyout .stat-value {
    font-size: 19px;
    color: #000000;
}

.view-details-flyout .stat-label {
    font-size: 13px;
    color: #9d9d9d;
}

/* ================================================
 * View Details Flyout - Cost Region
 * ==============================================*/

.view-details-flyout .cost-region {
    margin-top: 17px;
    margin-bottom: 30px;
}

/* ================================================
 * View Details Flyout - Cost Region Title
 * ==============================================*/

.view-details-flyout .cost-region-title {
    padding-bottom: 4px;
    border-bottom: 1px solid #bdbfbf;
}

.view-details-flyout .cost-region-title-text {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

/* ================================================
 * View Details Flyout - Cost Region Content
 * ==============================================*/

.view-details-flyout .cost-region-content {
    margin-top: 12px;
}

.view-details-flyout .cost-sub-region-content {
    margin-top: 28px;
}

/* ================================================
 * View Details Flyout - Cost Row
 * ==============================================*/

.view-details-flyout .cost-row {
    position: relative;
    font-size: 15px;
    color: #3d3d3d;
    margin-bottom: 7px;
}

.view-details-flyout .cost-label {
    color: #9d9d9d;
    font-weight: 100;
    padding-right: 60px;
}

.view-details-flyout .cost-value {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
}

.view-details-flyout .cost-total-value {
    color: #1FB25A;
}

/* ================================================
 * View Details Flyout - Cost Row Total 
 * ==============================================*/

.view-details-flyout .cost-row-total {
    position: relative;
    font-size: 15px;
    color: #3d3d3d;
    margin-bottom: 9px;
}

    .view-details-flyout .cost-row-total .cost-label {
        font-size: 15px;
        color: #3d3d3d;
        font-weight: normal;
    }

    .view-details-flyout .cost-row-total .cost-value {
        position: absolute;
        top: 0px;
        right: 0px;
        width: auto;
        color: #1FB25A;
    }

/* ================================================
 * View Details Flyout - Cost Row Grand Total
 * ==============================================*/

.view-details-flyout .cost-row-grand-total {
    position: relative;
    top: 8px;
    font-size: 15px;
    color: #3d3d3d;
    margin-bottom: 28px;
}

    .view-details-flyout .cost-row-grand-total .cost-label {
        font-size: 17px;
        color: #3d3d3d;
        font-weight: bold;
    }

    .view-details-flyout .cost-row-grand-total .cost-value {
        position: absolute;
        top: 0px;
        right: 0px;
        width: auto;
        color: #1FB25A;
        font-weight: bold;
    }

/* ================================================
 * View Details Flyout - Cost Explanations
 * ==============================================*/

.view-details-flyout .cost-explanation {
    position: relative;
    font-size: 12px;
    color: #9d9d9d;
    line-height: 15px;
    font-style: italic;
}

.view-details-flyout .prepaid-interest-explanation {
    margin-top: -6px;
    padding: 0px 22px 0px 13px;
}

/*==================================================
 * SpinnerCloudModal.css
 * 
 * Created By: Adam Alt
 * Created On: 2016-04-04
 * 
 * Breakpoints at: 320px(mobile), 768px(medium), and 1280px(desktop)
 * 
 * ===============================================*/

.spinner-cloud-modal {
    width: 340px;
    height: 225px;
    padding: 40px;
}

    .spinner-cloud-modal .top-section {
        position: relative;
        color: #0056B8;
        font-size: 24px;
        font-weight: bold;
    }

    .spinner-cloud-modal .text-region {
        display: inline-block;
        width: 160px;
    }

    .spinner-cloud-modal .cv-icon-cloud-lock {
        position: absolute;
        top: 0px;
        font-size: 79px;
    }

    .spinner-cloud-modal .bottom-section {
        text-align: center;
        margin-top: 15px;
    }

    .spinner-cloud-modal .pin-wheel-img {
        height: 50px;
    }
