@font-face {
    font-family: 'cv-config-icon-font';
    src:    url('fonts/cv-config-icon-font.eot?3nu0yk');
    src:    url('fonts/cv-config-icon-font.eot?3nu0yk#iefix') format('embedded-opentype'),
        url('fonts/cv-config-icon-font.ttf?3nu0yk') format('truetype'),
        url('fonts/cv-config-icon-font.woff?3nu0yk') format('woff'),
        url('fonts/cv-config-icon-font.svg?3nu0yk#cv-config-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="cv-config-icon-"], [class*=" cv-config-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cv-config-icon-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cv-config-icon-logo-sm .path1:before {
    content: "\e913";
    color: rgb(7, 178, 88);
}
.cv-config-icon-logo-sm .path2:before {
    content: "\e914";
    margin-left: -1.302734375em;
    color: rgb(7, 178, 88);
}
.cv-config-icon-logo-sm .path3:before {
    content: "\e915";
    margin-left: -1.302734375em;
    color: rgb(7, 178, 88);
}
.cv-config-icon-logo-sm .path4:before {
    content: "\e916";
    margin-left: -1.302734375em;
    color: rgb(3, 104, 177);
}
.cv-config-icon-logo .path1:before {
    content: "\e900";
    color: rgb(7, 178, 88);
}
.cv-config-icon-logo .path2:before {
    content: "\e901";
    margin-left: -2.5537109375em;
    color: rgb(7, 178, 88);
}
.cv-config-icon-logo .path3:before {
    content: "\e902";
    margin-left: -2.5537109375em;
    color: rgb(7, 178, 88);
}
.cv-config-icon-logo .path4:before {
    content: "\e903";
    margin-left: -2.5537109375em;
    color: rgb(3, 104, 177);
}
.cv-config-icon-logo .path5:before {
    content: "\e904";
    margin-left: -2.5537109375em;
    color: rgb(7, 178, 88);
}
.cv-config-icon-logo .path6:before {
    content: "\e905";
    margin-left: -2.5537109375em;
    color: rgb(3, 104, 177);
}
.cv-config-icon-logo .path7:before {
    content: "\e906";
    margin-left: -2.5537109375em;
    color: rgb(3, 104, 177);
}
.cv-config-icon-logo .path8:before {
    content: "\e907";
    margin-left: -2.5537109375em;
    color: rgb(3, 104, 177);
}
.cv-config-icon-logo .path9:before {
    content: "\e908";
    margin-left: -2.5537109375em;
    color: rgb(3, 104, 177);
}
.cv-config-icon-logo .path10:before {
    content: "\e909";
    margin-left: -2.5537109375em;
    color: rgb(84, 84, 74);
}
.cv-config-icon-logo .path11:before {
    content: "\e90a";
    margin-left: -2.5537109375em;
    color: rgb(84, 84, 74);
}
.cv-config-icon-logo .path12:before {
    content: "\e90b";
    margin-left: -2.5537109375em;
    color: rgb(84, 84, 74);
}
.cv-config-icon-logo .path13:before {
    content: "\e90c";
    margin-left: -2.5537109375em;
    color: rgb(84, 84, 74);
}
.cv-config-icon-logo .path14:before {
    content: "\e90d";
    margin-left: -2.5537109375em;
    color: rgb(84, 84, 74);
}
.cv-config-icon-logo .path15:before {
    content: "\e90e";
    margin-left: -2.5537109375em;
    color: rgb(84, 84, 74);
}
.cv-config-icon-logo .path16:before {
    content: "\e90f";
    margin-left: -2.5537109375em;
    color: rgb(84, 84, 74);
}
.cv-config-icon-logo .path17:before {
    content: "\e910";
    margin-left: -2.5537109375em;
    color: rgb(84, 84, 74);
}
.cv-config-icon-logo .path18:before {
    content: "\e911";
    margin-left: -2.5537109375em;
    color: rgb(84, 84, 74);
}
.cv-config-icon-logo .path19:before {
    content: "\e912";
    margin-left: -2.5537109375em;
    color: rgb(3, 104, 177);
}

